.custom-navbar-btn {
    background-color: orange;
    font-size: 24px;
    margin: 6px;
    border: none;
    transition: background-color 0.3s ease;
  }
  
  .custom-navbar-btn:hover {
    background-color: royalblue !important;
    cursor: pointer;
  }


.btnLogout{
    background-color: red !important;
}

.btnCart{
    background-color: green !important;
}



