.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .background-images {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../Images/bg.jpg');
    opacity: 0.9;
    z-index: -1;
    filter: blur(8px);
  }
  
  .login-form {
    font-size: 24px;
    font-weight: 500;
    background-color: transparent;
    padding: 40px;
    z-index: 1;
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:yellowgreen
  }
  
  .login-form .form-heading {
    font-size: 50px;
    margin-bottom: 20px;
    color:yellowgreen;
  }
  
  .login-form input {
    height: 48px;
    font-size: 20px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid yellowgreen;
    border-radius: 5px;
    color:yellowgreen;
  }
  
  .login-form .current-location-button {
    margin-top: 10px;
  }
  
  .login-button {
    width: 100%;
    margin-top: 20px;
    color: white;
    border: none;
    font-weight: bold;
  }
  
  .login-button:hover {
    background-color: white;
    color: yellowgreen;
  }
  
  .login-link {
    margin-top: 10px;
    color:yellowgreen;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  